<div class="banner d-flex align-items-center">
  <h1 class='ml-5 mb-5 '>A new Cocktail for a new Life</h1>
</div>
<div class='container'>
  <%= link_to 'View cocktails', cocktails_path, class: 'btn btn-dark' %>
</div>
